@font-face {
  font-family: 'Conv_Izis Two';
  src: url('../fonts/Izis Two.eot');
  src: local('☺'), url('../fonts/Izis Two.woff') format('woff'), url('../fonts/Izis Two.ttf') format('truetype'), url('../fonts/Izis Two.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
