.qq-uploader {
    height: 180px;
}
.qq-uploader {
    position: relative;
}
.qq-upload-button .ace-file-input {
    margin-bottom: 0 !important;
}
.qq-upload-button-hover .ace-file-input label{
    border-color: #f59942;
}
.qq-upload-button {
    width: 100%;
    top: 0;
    position: absolute !important;
}
.qq-upload-button input {
    position: absolute;
    width: 100% !important;
    height: 46px !important;
    font-size: 118px;
    opacity: 0;
    top: 0;
    left: 0;
}
.qq-upload-list {
    display: none;
}
.qq-uploader {
    position: relative;
}
.qq-upload-drop-area {

}
.qq-uploader .drop-zone {
    position: absolute;
    width: 100%;
    margin-bottom: 0;
    bottom: 0;
    left: 0;
}
