.admin-panel-widget {
    margin-top: 47px;
}
.navbar {
    margin-bottom: 0;
}
.navbar {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}
.navbar .navbar-inner {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    min-height: 45px;
    position: relative;
    background: #438eb9;
}
.navbar .navbar-text,
.navbar .navbar-link {
    color: #ffffff;
}
.navbar .brand {
    color: #ffffff;
    font-size: 24px;
    text-shadow: none;
    line-height: 1;
}
#admin-panel .navbar .nav > li > a,
#admin-panel .navbar .nav > li > a:hover,
#admin-panel .navbar .nav > li > a:focus {
    font-size: 13px;
    text-shadow: none;
    color: #ffffff;
}

/* ace-nav */
.ace-nav {
    height: 100%;
}
.ace-nav > li {
    line-height: 45px;
    max-height: 45px;
    background: #2e6589;
    border-left: 1px solid #DDD;
    padding: 0;
    position: relative;
    /* different colors */

}
.ace-nav > li:first-child {
    border-left: none;
}
.ace-nav > li > a {
    position: relative;
    color: #EEE;
    display: block;
    height: 100%;
    padding: 0 8px !important;
    background-color: transparent;
}
.ace-nav > li > a > [class*="icon-"] {
    font-size: 16px;
    color: #EEE;
    display: inline-block;
    width: 20px;
    text-align: center;
}
.ace-nav > li > a > .badge {
    position: relative;
    top: -4px;
    left: 2px;
    padding-right: 5px;
    padding-left: 5px;
}
.ace-nav > li.grey {
    background: #555555;
}
.ace-nav > li.purple {
    background: #892e65;
}
.ace-nav > li.green {
    background: #2e8965;
}
.ace-nav > li.light-blue {
    background: #62a8d1;
}
.ace-nav > li.light-blue2 {
    background: #42a8e1;
}
.ace-nav > li.red {
    background: #b74635;
}
.ace-nav > li.light-green {
    background: #9abc32;
}
.ace-nav > li.light-purple {
    background: #cb6fd7;
}
.ace-nav > li.light-orange {
    background: #f79263;
}
.ace-nav > li.light-pink {
    background: #f4dae5;
}
.ace-nav > li.dark {
    background: #404040;
}
.ace-nav > li.white-opaque {
    background: rgba(255, 255, 255, 0.8);
}
.ace-nav > li.dark-opaque {
    background: rgba(0, 0, 0, 0.2);
}
.ace-nav > li.no-border {
    border: none;
}
.ace-nav > li.margin-4 {
    margin-left: 4px;
}
.ace-nav > li.margin-3 {
    margin-left: 3px;
}
.ace-nav > li.margin-2 {
    margin-left: 2px;
}
.ace-nav > li.margin-1 {
    margin-left: 1px;
}
.ace-nav > li .dropdown-menu {
    z-index: 1031;
}
.ace-nav .nav-user-photo {
    margin: -4px 8px 0 0;
    border-radius: 24px;
    border: 2px solid #FFF;
    max-width: 36px !important;
}
.ace-nav li:last-child a [class^="icon-"] {
    /* the arrow indicating "See more" on each dropdown , and the icons of user menu */

    display: inline-block;
    width: 1.25em;
    text-align: center;
}

.lang-switch {
    padding: 12px 0;
    display: block;
    float: left;
    font-size: 13px;
    line-height: 20px;

}
.lang-switch a {
    color: #fff;
    font-family: 'Open Sans';
}


.nav>.disabled>a {
    color: #999
}

.nav>.disabled>a:hover, .nav>.disabled>a:focus {
    text-decoration: none;
    cursor: default;
    background-color: transparent
}

.navbar {
    *position: relative;
    *z-index: 2;
    margin-bottom: 20px;
    overflow: visible
}

.navbar-inner {
    min-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top, #fff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #fff, #f2f2f2);
    background-image: -o-linear-gradient(top, #fff, #f2f2f2);
    background-image: linear-gradient(to bottom, #fff, #f2f2f2);
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffffff', endColorstr = '#fff2f2f2', GradientType = 0);
    *zoom: 1;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    border-bottom : 2px solid #369 !important;
}

.navbar-inner:before, .navbar-inner:after {
    display: table;
    line-height: 0;
    content: ""
}

.navbar-inner:after {
    clear: both
}

.navbar .container {
    width: auto
}

.nav-collapse.collapse {
    height: auto;
    overflow: visible
}
.container-fluid {
    padding-right: 0;
}
.navbar .brand {
    display: block;
    float: left;
    padding: 8px 20px 7px;
    margin-left: -25px;
    color: #fff;
    font-size: 24px;
    font-weight: 200;
    text-shadow: none;
    font-family: 'Open Sans', sans-serif;
}

.navbar .brand:hover, .navbar .brand:focus {
    text-decoration: none
}

.navbar-text {
    margin-bottom: 0;
    line-height: 40px;
    color: #777
}

.navbar-link {
    color: #777
}

.navbar-link:hover, .navbar-link:focus {
    color: #333
}

.navbar .divider-vertical {
    height: 40px;
    margin: 0 9px;
    border-right: 1px solid #fff;
    border-left: 1px solid #f2f2f2
}

.navbar .btn, .navbar .btn-group {
    margin-top: 5px
}

.navbar .btn-group .btn, .navbar .input-prepend .btn, .navbar .input-append .btn, .navbar .input-prepend .btn-group, .navbar .input-append .btn-group {
    margin-top: 0
}

.navbar-form {
    margin-bottom: 0;
    *zoom: 1
}

.navbar-form:before, .navbar-form:after {
    display: table;
    line-height: 0;
    content: ""
}

.navbar-form:after {
    clear: both
}

.navbar-form input, .navbar-form select, .navbar-form .radio, .navbar-form .checkbox {
    margin-top: 5px
}

.navbar-form input, .navbar-form select, .navbar-form .btn {
    display: inline-block;
    margin-bottom: 0
}

.navbar-form input[type="image"], .navbar-form input[type="checkbox"], .navbar-form input[type="radio"] {
    margin-top: 3px
}

.navbar-form .input-append, .navbar-form .input-prepend {
    margin-top: 5px;
    white-space: nowrap
}

.navbar-form .input-append input, .navbar-form .input-prepend input {
    margin-top: 0
}

.navbar-search {
    position: relative;
    float: left;
    margin-top: 5px;
    margin-bottom: 0
}

.navbar-search .search-query {
    padding: 4px 14px;
    margin-bottom: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px
}

.navbar-static-top {
    position: static;
    margin-bottom: 0
}

.navbar-static-top .navbar-inner {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    border-width: 0 0 1px
}

.navbar-fixed-bottom .navbar-inner {
    border-width: 1px 0 0
}

.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
    padding-right: 0;
    padding-left: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 940px
}

.navbar-fixed-top {
    top: 0
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1)
}

.navbar-fixed-bottom {
    bottom: 0
}

.navbar-fixed-bottom .navbar-inner {
    -webkit-box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1)
}

.navbar .nav {
    position: relative;
    left: 0;
    display: block;
    float: left;
    margin: 0 10px 0 0
}

.navbar .nav.pull-right {
    float: right;
    margin-right: 0
}

.navbar .nav>li {
    float: left
}

#admin-panel .navbar .nav>li>a {
    float: none;
    padding: 10px 15px 10px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff
}

.navbar .nav .dropdown-toggle .caret {
    margin-top: 8px
}

.navbar .nav>li>a:focus, .navbar .nav>li>a:hover {

    background-color: transparent
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
    color: #555;
    text-decoration: none;
    background-color: #e5e5e5;
    -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125)
}


.navbar .btn-navbar .icon-bar {
    display: block;
    width: 18px;
    height: 2px;
    background-color: #f5f5f5;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25)
}

.btn-navbar .icon-bar+.icon-bar {
    margin-top: 3px
}

.navbar .nav>li>.dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: ''
}

.navbar .nav>li>.dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: ''
}

.navbar-fixed-bottom .nav>li>.dropdown-menu:before {
    top: auto;
    bottom: -7px;
    border-top: 7px solid #ccc;
    border-bottom: 0;
    border-top-color: rgba(0, 0, 0, 0.2)
}

.navbar-fixed-bottom .nav>li>.dropdown-menu:after {
    top: auto;
    bottom: -6px;
    border-top: 6px solid #fff;
    border-bottom: 0
}

.navbar .nav li.dropdown>a:hover .caret, .navbar .nav li.dropdown>a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333
}

.navbar .nav li.dropdown.open>.dropdown-toggle, .navbar .nav li.dropdown.active>.dropdown-toggle, .navbar .nav li.dropdown.open.active>.dropdown-toggle {
    color: #555;
    background-color: #e5e5e5
}

.navbar .nav li.dropdown>.dropdown-toggle .caret {
    border-top-color: #777;
    border-bottom-color: #777
}

.navbar .nav li.dropdown.open>.dropdown-toggle .caret, .navbar .nav li.dropdown.active>.dropdown-toggle .caret, .navbar .nav li.dropdown.open.active>.dropdown-toggle .caret {
    border-top-color: #555;
    border-bottom-color: #555
}

.navbar .pull-right>li>.dropdown-menu, .navbar .nav>li>.dropdown-menu.pull-right {
    right: 0;
    left: auto
}

.navbar .pull-right>li>.dropdown-menu:before, .navbar .nav>li>.dropdown-menu.pull-right:before {
    right: 12px;
    left: auto
}

.navbar .pull-right>li>.dropdown-menu:after, .navbar .nav>li>.dropdown-menu.pull-right:after {
    right: 13px;
    left: auto
}

.navbar .pull-right>li>.dropdown-menu .dropdown-menu, .navbar .nav>li>.dropdown-menu.pull-right .dropdown-menu {
    right: 100%;
    left: auto;
    margin-right: -1px;
    margin-left: 0;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px
}

.admin-panel-navigation {
}
.admin-panel-navigation li{
    list-style: none;
    display: inline-block;
    float: left;
    color: #fff;
}
.admin-panel-navigation li a{
    color: #fff;
    padding-right: 10px;
}

.admin-panel-navigation li.active a{
    font-weight: bold;
}