.row {
    margin-left: 0;
}

.copyright {
    margin-top: 10px;
    border-top: solid 1px #aaa;
    padding: 5px;
    text-align: center;
}

.tree .active {
    font-weight: bold;
}

.pages-content input[type=text],
.pages-content textarea {
    width: 90%;
}

.navbar .navbar-inner {
    background: #438eb9;
}
.nav-list > li > .submenu li> .submenu > li > .submenu li > .submenu li > a  {
    margin-left: 30px;
}
.nav-list > li > .submenu li> .submenu > li > .submenu li > .submenu li > .submenu li a  {
    margin-left: 40px;
}
.nav-list > li.open > .submenu {
    display: block;
}

/* Forms*/
.form-horizontal .control-group .text-error {
    width: 220px;
    font-size: 12px;
}

.portfolio-form .qq-uploader {

}

.form-actions .btn a{
    color: #fff;
}
.form-actions .btn a:hover{
    text-decoration: none;
}

.grid-view .filters input{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
}

.pagination .last,
.pagination .first{
    display: none;
}
.pagination .selected a{
    background-color: #6faed9;
    border-color: #6faed9;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}
.lang-switch {
    padding: 12px 0;
    display: block;
    float: left;

}
.lang-switch a{
    color: #fff;
}

.tree-folder-name.current {
    font-weight: bold;
}

.datepicker {
    z-index: 20 !important;
}

.table .caret {
    margin-top: 8px;
    margin-left: 5px
}
.pagination {
    text-align: center;
}